.site-title {
	text-transform: uppercase;
}

#banner {
	height:300px;
	margin-bottom: 30px;
	text-align:center;
	.page-title {
		margin-top:100px;
		color: #FFF;
	}
	#site-logo {
		margin-top: 75px;
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.contact-form-container {
	background-color: $gray-lighter;
	padding-bottom: $grid-gutter-width/2;
	@media(max-width:$container-md){
		padding-top: $grid-gutter-width /2;
	}
}


.bg-alternate {
	background-color: lighten($site-primary,50%)
}


.team-heading {
	background-color: $site-lolight;
	padding-top: 0;
	margin: $grid-gutter-width 0;
	padding: $grid-gutter-width;
	h3 {
		color: #FFF;
		margin: 0;
	}
}
.team-member {
	.name {
		color: $gray-dark;
	}	
	.position-and-organisation {
		color: $site-highlight;
		font-size: 14px;
	}
}