nav.navbar.navbar-default.navbar-fixed-top#main-nav
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse" data-target="#main-nav-collapse").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				| Menu 
				i.fa.fa-bars
			a(href=relative('/')).navbar-brand
				img(src="/images/logo/cea-logo-nav.png")
				//- != siteInfo.title
		div.collapse.navbar-collapse#main-nav-collapse
			ul.nav.navbar-nav.navbar-right
				each page in collections.pages
					if page.topLevelPage && page.showInNav !== false
						li(class=[
									'nav',									// these are nav links
									(page.path !== './' ? page.path : ''),  	// get the slug from the path if we're not home
									(page.path=='./' ? 'home visible-xs' : ''),		// we're home, add slug manually
									(path === page.path || parent && parent===page.path ?'active':''),		// if this page is the page we're building, mark it as active,
									(page.children && page.children.length ? 'dropdown' : '')
								])
							if page.children && page.children.length
								a(href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
									!= page.title
								ul.dropdown-menu
									li(class=[(path === page.path?'active':'')])
											a(href=relative(page.path))!= page.title
									li.divider(role="separator")
									each child in page.children
										if  child.showInNav !== false
											li(class=[(path === child.path?'active':'')])
												a(href=relative(child.path))!= child.title
							else
								a(href=relative(page.path))
									!= page.title
									//- if path === page.path
									//- 	span.sr-only (current)