//- Team Member
			
-var organisations = {'cea':'Centre for Effective Altruism','gwwc':'Giving What We Can','80k':'80,000 Hours','gpp':'Global Priorities Project','eao':'Effective Altruism Outreach'}
if person.featuredImage
	img.img-responsive(src=person.featuredImage, alt=person.title)
else
	img.img-responsive(src="http://placehold.it/400x400")

h4.name
	!= person.title
if person.staffType !== 'trustee'
	p.position-and-organisation
		!= person.position + ', ' +  organisations[person.organisation]
div.description
	!= person.contents