extends page

block header
	.container
		h1.page-title!= title
	
block content
	.container
		div.page-content
			-var typeTitles = ['Trustees','Staff','International Contactors']
			each staffType,index in ['trustee','staff','contractor']
				.row
					.col-sm-12.team-heading
						h3
							!= typeTitles[index]
				.row
					each person,index in collections.people
						if person.staffType === staffType
							div(class=[(staffType==="trustee"?"col-md-4":"col-md-3"),"col-sm-6","team-member",person.organisation])
								include team-member