extends page

block header
	.container
		h1.page-title!= title
	
block content
	.container
		div.page-content
			-var typeTitles = ['Trustees','Staff','International Contactors']
			each staffType,index in ['trustee','staff','contractor']
				.row
					.col-sm-12.team-heading
						h3
							!= typeTitles[index]
				.row(class=[staffType,'team-member-container'])
					each person,index in collections.people
						if person.staffType === staffType
							div(class=[(staffType==="trustee"?"col-md-4":"col-md-3"),"col-sm-6","team-member",person.organisation])
								include team-member

block scripts
	script.
		(function($){
			$(document).ready(function(){
				var timeOut;
				$(window).on('resize load', function(){
					clearTimeout(timeOut);
					timeOut = setTimeout(resizeTeamMember(),250);
				});
				var resizeTeamMember = function(){
					$('.team-member-container').each(function(index){
						var largest = 0;
						var container = $(this);
						container.children('.team-member').each(function(index){
							var el = $(this);
							el.removeAttr('style');
							if($(window).width() > 767){
								largest = el.innerHeight() > largest ? el.innerHeight() : largest;
							} else {
								largest = 0;
							}

						})
						if(largest){
							container.children('.team-member').each(function(index){
								var el = $(this);
								el.height(largest);
							});
						}
					});
				}
			});
		}(jQuery))